<div class="full-width-layout">
  <nav class="full-width-layout__header">
    <div class="container">
      <div class="full-width-layout__header-container">
        <a class="full-width-layout__header-link" [routerLink]="['/']">
          <div class="full-width-layout__header-logo">
            FIND MY C<mat-icon>public</mat-icon>UNTRY
          </div>
        </a>
        <a class="full-width-layout__header-link" href="https://github.com/joemetha/find-my-country" target="_blank">
          <img src="/assets/images/GitHub-Mark-32px.png" alt="Github">
        </a>
      </div>
    </div>
  </nav>
  <div class="full-width-layout__main-content">
    <div class="container">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
